.container-fluid{
 width: 100%;
 background-color: rgba(15, 102, 29, .85); 
}

.navbar{
  height: 70px !important; 
  color: #FFF !important;
}

#gif {
  margin-left:5%; 
}

#barText{
  color: #FFF;
}

.heading{
 background-color: rgba(226, 15, 19,.65); 
}

#heading h1{
 text-shadow: 0px 1px rgba(255,255,255,.35);
 /*text-decoration: underline;*/
 margin-top: 2%;
 font-family: 'Acme', sans-serif;
 margin-left: -6%;
 color:#000;
 background-color:rgba(226, 15, 19,0);
 font-size: 600% !important;
}

#blackRow{
 background-color: #000; 
}

#christmasLogo{
 margin-left: 19%; 
}

#recipeChoice1{
 margin-top:3%;
 padding-bottom: 2%;
}



#recipeChoice1 h1{
 font-family: 'Acme', sans-serif;
 color: #FFF;
 text-shadow: 0 2px rgba(0,0,0,.35);
 box-sizing: content-box;
 width: 97%;
 border-style: outset;
 margin-left: -5%;
 border-left: 5px outset rgba(226, 15, 19,0);
 border-color: rgba(226, 15, 19,.15);
 background-color: rgba(226, 15, 19,.65);
 box-shadow: 2px 2px #543d3d;
}

h1{
 padding-left: 5%;
 padding-right: 3%;
}

.recipe1{
 margin-top: 2%; 
 
}

.card {
 background-color: rgba(185, 191, 187, .55) !important;
 margin-right: -1%;
 padding-right: 1%;
 padding-bottom: -6%;
}

#santasCookies {
 margin-left: 12%;
 width: 280px;
 height: 280px;  
}

#ornamentCupcakes {
 margin-left: 12%;
 width: 280px;
 height: 280px;  
}

#christmasBrownies {
 margin-left: 12%;
 width: 280px;
 height: 280px;  
}

#tree {
 margin-left: 12%;
 width: 280px;
 height: 280px;  
}

#santasStuck {
 margin-left: 12%;
 width: 280px;
 height: 280px;  
}

#recipe1img{
 margin-top: 1%;
 margin-left: 12%;
 width: 280px;
 height: 280px;
}

.overlay {
  margin-left: 17.3%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 280px;
  width: 280px;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(193, 5, 21,.5);
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

